.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url("https://wallpapers.com/images/hd/white-abstract-hexagons-wshg1akmqzklnrmo.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Time {
  font-size: 15vh;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.HelloMessage {
  font-size: 8vh;
  color: rgb(0, 0, 0);
  font-weight: 200;
}

.Subheadings {
  font-size: 6vh;
  color: rgb(0, 0, 0);
  font-weight: 200;
}

.Headings {
  font-size: 10vh;
  color: rgb(0, 0, 0);
  font-weight: 250;
}

